<div class="{% if class %}{{class}}{% endif %} h-96 w-full">
    <iframe class="w-full h-full rounded-xl"
        src="https://inv.cochrun.xyz/embed/{{id}}{% if autoplay %}?autoplay=1{% endif %}"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen>
    </iframe>
</div>
