<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="/css/tw.css"/>
        <link rel="stylesheet" href="/line-awesome/css/line-awesome.min.css"/>
        <script src="/js/main.js" defer></script>
        {% block head_extend %}{% endblock %}
    </head>

    <body class="bg-base05 dark:bg-base00 transition ease-in-out">
        <section>
            {% block content %}{% endblock %}
        </section>
    </body>
</html>
