{% macro header(components, is_page) %}
    <div class="sticky top-0 bg-base0A dark:bg-base00">
        <div class="container mx-auto px-4 xl:px-0 w-full xl:w-1/2 flex
        place-content-between py-8 xl:py-4 font-sans text-2xl xl:text-xl text-base05
        dark:text-base05">
            <div class="flex">
                {% set_global rel_url = "/" %}
                {% for component in components %}
                    {% set_global rel_url = rel_url ~ component ~ '/' %}
                    {% if loop.first %}
                        <div class="m-0 p-0 text-base05
                            dark:text-base05">
                            <a class="m-0 p-0 text-base05 hover:text-base01
                            dark:text-base05 dark:hover:text-base03" href="/">~</a>/<a class="m-0 p-0 text-base05 hover:text-base01
                            dark:text-base05 dark:hover:text-base03" href="{{ rel_url }}">{{ component }}</a>
                        </div>
                    {% elif is_page %}
                        <div class="m-0 p-0 text-base05 dark:text-base05">
                            {% if loop.first %}
                            ~/<a class="m-0 p-0 text-base05 hover:text-base01
                            dark:text-base05 dark:hover:text-base03" href="{{ rel_url }}">{{ component }}</a>
                            {% else %}
                            /<a class="m-0 p-0 text-base05 hover:text-base01
                            dark:text-base05 dark:hover:text-base03" href="{{ rel_url }}">{{ component }}</a>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="m-0 p-0 text-base05 dark:text-base05">
                            {% if loop.first %}
                            <a class="m-0 p-0 text-base05 hover:text-base05
                                      dark:text-base05 dark:hover:text-base02"
                               href="{{ rel_url }}">
                                ~/{{ component }}
                            </a>
                            {% else %}
                            /{{ component }}
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="flex gap-4">
                <div id="back-to-top" class="hidden cursor-pointer">
                    <i class="las la-level-up-alt"></i>
                </div>
                <a href="/"><i class="las la-home"></i></a>
                <div id="darkmode-toggle" class="cursor-pointer">
                    <div class="hidden dark:inline">
                        <i class="las la-sun"></i>
                    </div>
                    <div class="inline dark:hidden">
                        <i class="las la-moon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro head %}
