{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block head_extend %}
    <title>{{ page.title }} | {{ config.title }}</title>
{% endblock head_extend %}

{% block content %}
    {{ macros::header(components=page.components, is_page=true) }}
    <div class="container m-auto w-full xl:w-1/2 mb-16">
        <div class="mt-4 mx-2 font-serif text-slate-600 dark:text-base05 text-xl xl:text-base">
            {{ page.date | date(format="%Y-%m-%d") }}
        </div>
        <h1 class="w-full xl:w-2/3 mt-4 mb-8 mx-2 font-serif text-4xl xl:text-4xl text-slate-900
                   dark:text-base05">
            {{ page.title }}
        </h1>
        <div class="w-full border-t mb-8 border-slate-300
            dark:border-slate-700"></div>
        <div class="prose w-100 my-4 ml-4 mr-8 dark:prose-invert
                    prose-pre:rounded-none
                    prose-headings:rounded-lg
                    prose-headings:bg-base05
                    prose-headings:text-slate-800
                    dark:prose-headings:bg-base0D prose-headings:font-normal
                    dark:prose-headings:text-base02 prose-headings:p-2
                    prose-headings:w-max prose-headings:font-serif prose-lg xl:prose-base">
            {{ page.content | safe }}
        </div>
    </div>
{% endblock content %}

