{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block head_extend %}
    <title>{{ section.title }} | {{ config.title }}</title>
{% endblock head_extend %}

{% block content %}
    {{ macros::header(components=section.components, is_page=false) }}
    <div class="container mx-auto w-auto px-8 xl:w-1/2 mt-16 mb-16">
        {% if section.pages %}
            <div class="my-8">
                <div class="text-2xl xl:text-2xl bg-amber-100 text-slate-800
                    dark:bg-base0B dark:text-base02 p-2 w-max">
                    Posts
                </div>
                <ul>
                    {% for page in section.pages %}
                        <li class="text-slate-900 hover:text-slate-600
                            dark:text-base05 hover:dark:text-slate-300
                            transition">
                            <a class="flex my-12 xl:my-4 text-xl xl:text-base" href="{{ page.permalink | safe }}">
                                {{ page.title }}
                                <div class="ml-2 hidden xl:inline">
                                    <i class="las la-arrow-right"></i>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if section.subsections %}
            <div class="my-8">
                <div class="text-2xl xl:text-2xl bg-amber-100 dark:bg-base0B
                    text-slate-800 dark:text-base02 p-2 w-max">
                    Categories 
                </div>
                <ul>
                    {% for sub in section.subsections %}
                        {% set sect = get_section(path=sub, metadata_only=true) %}
                        <li class="text-slate-900 hover:text-slate-600
                            dark:text-base05 hover:dark:text-slate-300 transition">
                            <a class="flex my-12 xl:my-4 text-xl xl:text-base" href="{{ sect.permalink }}">
                                {{ sect.title }}
                                <div class="ml-2 hidden xl:inline">
                                    <i class="las la-arrow-right"></i>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock content %}

